* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* palette */

    --primary-color: #6700bb;
    --secondary-color: #7f58e9;

    --body-background: #F5F7FA;

    --red-color: #ff0000;

    /* Fonts-style */
    --base-font: "Inter", sans-serif;

    /* Convert PX/Rem */
    --pxr-4: 0.25rem;
    --pxr-6: 0.375rem;
    --pxr-8: 0.5rem;
    --pxr-10: 0.625rem;
    --pxr-12: 0.75rem;
    --pxr-14: 0.875rem;
    --pxr-16: 1rem;
    --pxr-18: 1.125rem;
    --pxr-20: 1.25rem;
    --pxr-22: 1.375rem;
    --pxr-24: 1.5rem;
    --pxr-28: 1.75rem;
    --pxr-30: 1.875rem;
    --pxr-32: 2rem;
    --pxr-34: 2.125rem;
    --pxr-36: 2.25rem;
    --pxr-38: 2.375rem;
    --pxr-40: 2.5rem;
    --pxr-42: 2.625rem;
    --pxr-44: 2.75rem;
    --pxr-46: 2.875rem;
    --pxr-48: 3rem;
    --pxr-50: 3.125rem;
    --pxr-64: 4rem;
    --pxr-72: 4.5rem;
    --pxr-76: 4.75rem;
    --pxr-80: 5rem;

    /* Icons size */
    --small-icon: var(--pxr-16);
    --medium-icon: var(--pxr-24);
    --large-icon: var(--pxr-72);

}

/* Flex */
.flex { display: flex }
.between { justify-content: space-between }
.x-start { justify-content: flex-start }
.around { justify-content: space-around }
.x-center { justify-content: center }
.y-center { align-items: center }

.gap4 { gap: 4px }
.gap8 { gap: 8px }
.gap10 { gap: 10px }
.gap12 { gap: 12px }
.gap14 { gap: 14px }
.gap16 { gap: 16px }
.gap18 { gap: 18px }
.gap20 { gap: 20px }
.gap24 { gap: 24px }

.bgcolor1 {background-color: rgb(204, 168, 238)}
.bgcolor2 {background-color: rgb(164, 224, 194)}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--base-font);
    background-color: var(--body-background);
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    border: 10px solid rgb(236, 236, 236);
}

.icon-text-small {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: var(--small-icon);

    svg {
        width: var(--small-icon);
        height: var(--small-icon);
    }
}

.icon-text-medium {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: var(--pxr-16);

    svg {
        width: var(--medium-icon);
        height: var(--medium-icon);
    }
}

.red { color: var(--red-color) }


.block-master {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pxr-8) var(--pxr-16);
    gap: var(--pxr-16);

    .left-side {
        img { 
            width: 180px;
            padding: 8px;
        }
    }

    .right-side {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* align-content: space-between; */
        gap: var(--pxr-24);

        .block-1 {
            display: flex;
            justify-content: space-between;
            gap: var(--pxr-24);
            /* background-color: aqua; */

            .post-date {
                padding: var(--pxr-6);
                border: 1px solid rgb(241, 241, 241);
                border-radius: 4px;
                background-color: rgb(236, 236, 236);
            }

        }

        .block-2 {
            display: flex;
            flex-direction: column;
            gap: var(--pxr-10);

            p {
                font-size: var(--pxr-14);
            }

            .div-left {
                display: flex;
                gap: var(--pxr-12);

                .price {
                    color: var(--red-color);
                    font-size: var(--pxr-22);
                    font-weight: 700;
                }
            }

            .div-right {
                display: flex;
                align-items: center;
                gap: var(--pxr-16);
                /* background-color: rgb(241, 163, 163); */
            }

        }

        .block-3 {
            display: flex;
            justify-content: space-between;

            .div-left {
                display: flex;
                gap: var(--pxr-24);

                .icon-text-medium {
                    cursor: pointer;
                }
            }

            .div-right {
                display: flex;
                gap: var(--pxr-16);

                a {
                    color: white;
                    padding: 12px 42px;
                    border-radius: 32px;
                    text-decoration: none;
                    font-weight: 600;
                    background-color: var(--secondary-color);
                }
            }
        }
    }
}






